/* Copyright 2015 The Vanadium Authors. All rights reserved. */
/* Use of this source code is governed by a BSD-style */
/* license that can be found in the LICENSE file. */

@font-face {
  font-family: 'icons';
  src:url('/fonts/icons.eot?-al0ki6');
  src:url('/fonts/icons.eot?#iefix-al0ki6') format('embedded-opentype'),
  url('/fonts/icons.woff?-al0ki6') format('woff'),
  url('/fonts/icons.ttf?-al0ki6') format('truetype'),
  url('/fonts/icons.svg?-al0ki6#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"], .link-with-arrow::after {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  /* Matches the line-height of .title */
  display: inline-block;
  font-size: 24px;
  line-height: 32px;
  width: 32px;
  text-align: center;
}

.icon-arrow-forward:before {
  content: "\e603";
}

.icon-arrow-back:before {
  content: "\e604";
}

.icon-drop-up:before {
  content: "\e605";
}

.icon-menu:before {
  content: "\e602";
}

.icon-logo:before {
  content: "\e600";
}

.icon-search:before {
  content: "\e601";
}

.link-with-arrow {
  text-transform: uppercase;
  font-weight: var(--font-weight-medium);
}

.link-with-arrow:hover {
  text-decoration: none;
}

.link-with-arrow::after {
  content: "\e603";
  padding: 0 0 0 5px;
  color: var(--deeporange-A200);
}

/* New icons setup */
/* TODO(jasoncampbell): inline svgs automatically */
.icon-base {
  content: ' ';
  display: inline-block;
  /* matches typography line-height */
  width: 28px;
  height: 28px;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 24px auto;
}

.icon-twitter, .icon-github {
  inherit: .icon-base;
  width: 32px;
  height: 32px;
  background-size: 30px auto;
}

.icon-clipboard {
  inherit: .icon-base;
  background-image: url(/icons/clipboard.svg);
  background-size: 18px auto;
}

.icon-twitter {
  background-image: url(/icons/twitter.svg);
}

.icon-github {
  background-image: url(/icons/github-grey.svg);
}
