/* Copyright 2015 The Vanadium Authors. All rights reserved. */
/* Use of this source code is governed by a BSD-style */
/* license that can be found in the LICENSE file. */

footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--blue-grey-100);
  padding: var(--gutter-half);
}

footer .main {
  flex: 1;
}

footer .main a {
  margin-right: var(--gutter-half);
  color: var(--blue-grey-500);
}

footer .social {
  display: flex;
}

footer .social a {
  margin-left: var(--gutter-half);
}

footer .icon-github,
footer .icon-twitter {
  inherit: .icon-base;
}
